@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background: black;

}
.clock{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    
    font-family: "Open Sans", sans-serif;
}
.time{
    background: rgba(0, 0, 0, 0.095);
    color: aliceblue;
    font-size : 97px;
    width:140px;
    margin:20px 19px;
    text-align:center;
}
.heading{
    color:azure;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;

}